body {
    background: #f4f8fc;
    color: #57676e;
}

h1 {
    font-size: 60px;
    margin-top: 0px;
}

h2 {
    font-size: 30px;
    margin-top: 0px;
}

ul {
    margin-left: 0px;
    padding: 0;
    margin-right: auto;
}

li {
    margin-right: 8px;
    width: 120px;
    text-align: center;
    display: inline-block;
}

#startButton {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: #d7dd31;
}

.button {
    padding: 8px;
    margin: 4px;
    background-color: #e2ea36;
    font-size: 20px;
    cursor:pointer;

}

#today_so_far {
    font-family: sans-serif;
}

.timerDiv {
    cursor: default;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ea6c55;
    color: #FFFFFF;
    font-size: 50px;
    width: 220px;
    text-align: center;
    font-family: 'OpenSans', sans-serif;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #C3CCD0;


}

#innerBox{
    background: #fff;
    padding: 50px 100px;
    margin: 30px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    border: 1px solid #C3CCD0;
    font-size: 16px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
}

#otherTextBox {
    display: none;
    font-family: Helvetica;
    font-size: 16px;
    background: dimgray;
    border: none;
    color: white
}

#why_stop{
    display: none;
}

.section{
    padding: 4px;
    margin: 8px;
    border-radius: 3px;
    border: 1px solid #d5e0e4;
    color: #333;
    background: #f8f8f8;
}