
body {
    background: #f4f8fc;
    color: #57676e;
    font-family: 'Lucida Sans Unicode','OpenSans', sans-serif;

}

h1 {
    font-size: 60px;
    margin-top: 0px;
}

h2 {
    font-size: 30px;
    margin-top: 0px;
}

ul{
margin: 0;
}



#startButton {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: #d7dd31;
}


.button {
    padding: 8px;
    margin: 4px;
    background-color: #e2ea36;
    font-size: 20px;
    cursor:pointer;
    display: inline-block;
}

.button-sel {
    padding: 8px;
    margin: 4px;
    background-color: #aeb42a;
    font-size: 20px;
    cursor:pointer;
    display: inline-block;
}


.timerDiv {
    cursor: default;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px 0 8px ;
    background-color: #ea6c55;
    color: #FFFFFF;
    font-size: 50px;
    width: 220px;
    text-align: center;

    box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #C3CCD0;
}

#innerBox{
    background: #fff;
    padding: 50px 100px;
    margin: 30px;

    font-weight: 400;
    border: 1px solid #C3CCD0;
    font-size: 16px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
}

#otherTextBox {
    display: none;

    font-size: 16px;
    background: dimgray;
    border: none;
    color: white
}

#why_stop{
    display: none;
}

.section{
    padding: 20px;
    
    border-radius: 3px;
    border: 1px solid #d5e0e4;
    color: #333;
    background: #f8f8f8;
}

.expandCollapseTitle{
	background: #838383;
	color:#FFFFFF;
	padding:8px;
	margin-top:1px;
}

.grayButton{
    margin-top: 8px;
    padding:4px 8px 4px 8px;
    display: inline-block;
    cursor:pointer;

    border: 1px solid #E7E7E7;
}

.grayButton:hover{
    background-color: #F8F8F8;
    border: 1px solid #C6C6C6;
    color: #222222;
}

.grayButton-sel{
    background-color: #E0E0E0;
    border: 1px solid #D7D7D7;
    color: #777777;
    margin-top: 8px;
    padding:4px 8px 4px 8px;
    display: inline-block;
    cursor:pointer;
}

.smallGrayButton{
    padding:1px 8px 1px 8px;
    display: inline-block;
    cursor:pointer;

    border: 1px solid #E7E7E7;
}

.smallGrayButton:hover{
    background-color: #F8F8F8;
    border: 1px solid #C6C6C6;
    color: #222222;
}

.smallGrayButton-sel{
    background-color: #E0E0E0;
    border: 1px solid #D7D7D7;
    color: #777777;
    margin-top: 8px;
    padding:4px 8px 4px 8px;
    display: inline-block;
    cursor:pointer;
}


#this_week_table{
    width: 66%;
    border-collapse: collapse;
}

#this_week_table td{
    text-align: center;
    padding: 4px;
    margin:0;
}

#this_week_table tbody tr:hover{
    background: #E8E8E8;
}

#timerPanel{
    padding: 8px;
    text-align: center;
}

#goalSlider{
    margin-left: 16px;
    margin-right: 16px;
}

#timerProgressBar .ui-progressbar-value {
    background-color: #ccc;

}

.ui-progressbar {
    position: relative;
}
#progressLabel {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.slider{
	margin-left:8px;
	margin-right:12px;
	font-size:12px;
}

.goalSlider{
    width:20%;
    display:inline-block;
}

#timerProgressBar{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

/* Dashboard */
#dashboard{
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
	text-align:center;
	margin-bottom:15px;
}

.dashboard_box{
    display: inline-block;
    margin-left: 10px;
    border:1px solid #ffcaca;
    width: 20%;
}

.dashboard_title{
    background: darkslategray;
    font-size: 14px;
    color:white;
    text-align: center;
    padding: 4px;
}

.dashboard_content{
    background: none repeat scroll 0 0 #FFFFFF;

    font-weight: bold;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

.dashboard_content li{
    display: inline-block;
    margin-right: 10px;
    
}

.dashboard_content ul{
    padding: 0px;
}


.dashboard_time_large{
    font-size: 55px;
    color:red;
}

.dashboard_caption_large{
    color:darkgray;
    font-size: 16px;
    margin-top:-10px;
    display: block;
    line-height: 10px;

}

.dashboard_time_small{
    font-size: 40px;
}

.dashboard_caption_small{
    color:darkgray;
    font-size: 14px;

    display: block;
    line-height: 10px;
}

#dashboard_today{
    width:40%;
}

/* */

.goal{
	padding-top:8px;
	margin-top:8px;
	color:darkgray;
	border-top:1px solid darkgray;
	width:100%;
	
}
.goalPercentage{
	padding-bottom:8px;
	margin-bottom:8px;
	color:darkgray;
	border-bottom:1px solid darkgray;
	display:block;
	width:100%;
		
}

.goalTime{
	color:red;
}

.goalTime:hover{
    color:darkred;
}
